@tailwind base;
@tailwind components;
@tailwind utilities;

*{
font-family:'Times New Roman', Times, serif
}





  @layer{

  .icon {
    @apply md:w-12 md:h-12  h-6 w-6
  }
  }


  @layer{

    .home-bg {
      
      background-image: url('  https://images.unsplash.com/photo-1506443432602-ac2fcd6f54e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80' ) ;
     @apply bg-cover bg-center h-screen md:h-full
    }
  }

  @layer{

    body {
      
      background-image: url('  https://images.unsplash.com/photo-1590388143860-6594f1fbc1f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80' ) ;
     @apply bg-cover bg-center md:h-full bg-no-repeat h-screen
    }
  }

  @layer{

    .resume-bg {
      
      background-image: url('  https://images.unsplash.com/photo-1620820871314-4e0f0fd1eaf8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80' ) ;
     @apply bg-cover bg-center h-screen  md:h-full 
    }
  }

  @layer{

    .contact-bg {
      
      background-image: url(' https://images.unsplash.com/photo-1462331940025-496dfbfc7564?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=611&q=80' ) ;
     @apply bg-cover bg-center md:h-full  h-screen
    }
  }

  @layer{

    .about-bg {
      
      background-image: url('https://images.unsplash.com/photo-1590907047706-ee9c08cf3189?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80' ) ;
     @apply bg-cover bg-center h-screen md:h-full
    }
  }